table, th, td {
    border:1px solid black;
    text-align: center;
}

table {
    width: 70%;
}

.container {
    display: flex;
}

.inline {
    display: inline-block;
}


td.shaded {
    background-color: rgba(255, 0, 0, 0.4);
}

div#output {
    font-family: 'Courier New', Courier, monospace;
}

#invalid {
    color: #f00;
}

.faint {
    color: rgb(114, 112, 112)
}

textarea {
    resize: none;
}